<div class="map-config" ng-controller="MapConfigCtrl">

  <div class="row">
    <div class="col-md-4">
      Locate tests upon:
    </div>
    <div class="col-md-8">
      <label ng-repeat="field in locationFields()">
        <input type="radio" ng-model="chart.mappingField" value="{{field.name}}"> {{field.label}}
      </label>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      Show locations coloured based on positive results rates:
    </div>
    <div class="col-md-12">
      <nd-slider min="0" max="100" model="chart.thresholds" percentage="true"></nd-slider>
    </div>
  </div>
</div>
