<div class="population-pyramid-config" ng-controller="PopulationPyramidConfigCtrl">
  <div class="col-md-2">
    View:
  </div>
  <div class="col-md-10">
    <label>
      <input type="radio" name="display" ng-model="chart.values" value="count"> {{ settings.onlyShowPositiveResults ? 'Number of positive cases' : 'Number of valid cases' }}
    </label>
    <br/>
    <label>
      <input type="radio" name="display" ng-model="chart.values" value="percentage"> {{ settings.onlyShowPositiveResults ? 'Percentage of positive cases' : 'Percentage of valid cases' }}
    </label>
  </div>
</div>
