<div class="row first-in-trendline" ng-controller="TrendlineConfigCtrl">
  <div class="col-md-2">
    Display:
  </div>
  <div class="col-md-10">
    <label>
      <input type="radio" name="display" ng-model="chart.display" value="simple"> Simple
    </label>
    <br/>
    <label>
      <input type="radio" name="display" ng-model="chart.display" value="split"> Split by
    </label>
    <select ng-disabled="chart.display != 'split'" ng-model="chart.splitField">
      <option ng-repeat="enumField in fieldsInfo.enumFields" value="{{enumField.name}}">{{enumField.label}}</option>
    </select>
    <span ng-show="hasAnyParentLocations()">
      <br/>
      <label>
        <input type="radio" name="display" ng-model="chart.display" value="compareToLocation"> Compare to
      </label>
      <select ng-disabled="chart.display != 'compareToLocation'"
              ng-model="chart.compareToLocationField"
              ng-options="field.name as field.label for field in comparableLocationFields()">
      </select>
      <select ng-disabled="chart.display != 'compareToLocation'"
              ng-model="chart.compareToLocation"
              ng-options="location.level as location.name for location in parentLocations(chart.compareToLocationField)">
      </select>
    </span>
    <br/>
    <label>
      <input type="radio" name="display" ng-model="chart.display" value="compareToDate"> Compare to
    </label>
    <select ng-disabled="chart.display != 'compareToDate'" ng-model="chart.compareToDate">
      <option value="previous_year">Previous year</option>
    </select>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
      View:
    </div>
    <div class="col-md-10">
      <label>
        <input type="radio" name="display" ng-model="chart.values" value="count"> Number of positive cases
      </label>
      <br/>
      <label>
        <input type="radio" name="display" ng-model="chart.values" value="percentage"> Percentage of positive cases
      </label>
    </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    Period:
  </div>
  <div class="col-md-10">
    <div class="btn-group">
      <button ng-repeat="period in fieldsInfo.datePeriods" type="button" class="btn btn-default" ng-class="{active: chart.grouping == period.value}" ng-click="chart.grouping = period.value">{{period.label}}</button>
    </div>
  </div>
</div>
