Period:
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'day'}" ng-click="chart.grouping = 'day'">Day</button>
  <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'week'}" ng-click="chart.grouping = 'week'">Week</button>
  <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'month'}" ng-click="chart.grouping = 'month'">Month</button>
  <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'year'}" ng-click="chart.grouping = 'year'">Year</button>
</div>
