<div ng-controller="TrendlineCtrl">
  <nd-trendline values='chart.values' stacked='chartStacked' charttype='chartType' title='title' chartdata='chartData'></nd-trendline>

  <div class="scrollArrows" ng-show="canMoveOffset(1) || canMoveOffset(-1)">
    <a href="javascript:void(0)" ng-click="moveOffset(10)"  ng-class="{disabled: !canMoveOffset(10)}"  class="leftPage"></a>
    <a href="javascript:void(0)" ng-click="moveOffset(1)"   ng-class="{disabled: !canMoveOffset(1)}"   class="leftArrow"></a>
    <a href="javascript:void(0)" ng-click="moveOffset(-1)"  ng-class="{disabled: !canMoveOffset(-1)}"  class="rightArrow"></a>
    <a href="javascript:void(0)" ng-click="moveOffset(-10)" ng-class="{disabled: !canMoveOffset(-10)}" class="rightPage"></a>
  </div>
</div>


