<div class="row">
  <div class="col-md-2">
    Display:
  </div>
  <div class="col-md-10">
    <label>
      <input type="radio" name="display" ng-model="chart.display" value="simple"> Simple
    </label>
    <br/>
    <label>
      <input type="radio" name="display" ng-model="chart.display" value="split"> Split by
    </label>
    <select ng-disabled="chart.display != 'split'" ng-model="chart.splitField">
      <option ng-repeat="enumField in enumFields" value="{{enumField.name}}">{{enumField.label}}</option>
    </select>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    Period:
  </div>
  <div class="col-md-10">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'day'}" ng-click="chart.grouping = 'day'">Day</button>
      <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'week'}" ng-click="chart.grouping = 'week'">Week</button>
      <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'month'}" ng-click="chart.grouping = 'month'">Month</button>
      <button type="button" class="btn btn-default" ng-class="{active: chart.grouping == 'year'}" ng-click="chart.grouping = 'year'">Year</button>
    </div>
  </div>
</div>
