<div class='nd-trendline well row'>
 <div class='col-md-10'>
   <nd-trendline series="series" title="'Events'"></nd-trendline>
 </div>
 <div class="controls col-md-2">
    <label for="year">
      <input type="radio" name="group_by" id="year" ng-model="grouping" value="year" checked="checked">
      Year
    </label>
    <label for="month">
      <input type="radio" name="group_by" id="month" ng-model="grouping" value="month">
      Month
    </label>
    <label for="day">
      <input type="radio" name="group_by" id="day" ng-model="grouping" value="day">
      Day
    </label>
  </div>
</div>