<nd-reports-navbar></nd-reports-navbar>

<div class="row report">
  <div class="col-md-12">
    <h3>
      <a href="#" editable-text="currentReport.name" onbeforesave="validateReportName($data)">{{currentReport.name}}</a>
    </h3>
    <p>
      <a href="#" editable-textarea="currentReport.description" e-rows="4" e-cols="60">{{currentReport.description || 'No description'}}</a>
    </p>
  </div>
</div>

<div class="row report">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    {{currentReport.fullDescription()}}
  </div>
</div>

<div class="row">
  <!-- BEGIN: Filters panel -->
  <div id="filters" class="col-xs-12 col-sm-4 col-md-3" ng-controller="FiltersCtrl">
    <div class="filters-list">
      <div class="filters-header">
        <strong>Filters</strong>
        <a class="pull-right" href="javascript:void(0)" ng-click="clearFilters()" ng-show="currentReport.filters.length > 0">
          Clear all
        </a>
      </div>
      <div class="filter first">
        <div class="filter-title">
          <strong class="all">{{ settings.onlyShowPositiveResults ? 'All positive cases' : 'All valid cases' }}</strong>
          <span class="count" ng-show="hasCount(-1)">{{counts[-1]}}</span>
          <span class="count loading" ng-hide="hasCount(-1)"></span>
        </div>
      </div>
      <div class="filter" ng-repeat="filter in currentReport.filters" ng-class="{expanded: filterIsExpanded(filter), last: isLastFilter($index), empty: counts[$index] === 0}">
        <div class="filter-title" ng-click="toggleFilter(filter)">
          <span class="filter-full-title">
            <strong ng-class="[filter.name, filter.field().type]">{{filter.label()}}</strong>
            <span class="selected-desc">{{filter.selectedDescription()}}</span>
          </span>
          <span class="count" ng-show="hasCount($index)">{{counts[$index]}}</span>
          <span class="count loading" ng-hide="hasCount($index)"></span>
          <a class="remove" href="javascript:void(0)" ng-click="$parent.removeFilterByIndex($index)" title="Remove filter"></a>
        </div>
        <div collapse="!filterIsExpanded(filter)">
          <div class="instructions">{{instructionsFor(filter)}}</div>
          <div ng-include src="filterTemplateFor(filter)"></div>
        </div>
      </div>
      <hr/>
      <div class="add-new-filter">
        <a href="javascript:void(0);" ng-click="addNewFilterIsCollapsed = !addNewFilterIsCollapsed"><span>+</span> Add new filter</a>
        <div collapse="addNewFilterIsCollapsed">
          <a title="{{field.label}}" ng-repeat="field in fieldsInfo.filterFields" href="javascript:void(0);" ng-click="addFilter(field)">
            <i ng-class="[field.name, field.type]"></i>
            <span>{{field.label}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-actions">
      <div><a href="javascript:void(0);" ng-click="duplicateReport()" class="duplicate-report">Duplicate this report</a></div>
      <div><a href="javascript:void(0);" ng-click="deleteReport()" class="delete-report">Delete this report</a></div>
    </div>
  </div>
  <!-- END: Filters panel -->


  <!-- BEGIN: Charts -->
  <div class="col-xs-12 col-sm-8 col-md-9" ng-controller="ChartsCtrl">
    <div class="row">
      <div class="col-md-6" ng-repeat="chart in currentReport.charts">
        <!-- CODEREVIEW: Keep all chart pieces into a separate template which includes the necessary directives -->
        <div class='nd-chart-container well' ng-controller="ChartCtrl" ng-init="chart=chart;report=currentReport">
          <div ng-show="loadingChart() && !editingChart" class="chart-loading"></div>
          <div ng-hide="editingChart">
            <div class="actions">
              <span ng-show="chart.isConfigurable()">
                <a href="javascript:void(0)" ng-click="edit()" title="Edit" class="edit-chart"></a>
              </span>
              <a href="javascript:void(0)" ng-csv="getCSV()" filename="{{getCSVFilename()}}" title="Download CSV" class="download-csv"></a>
              <a href="javascript:void(0)" ng-click="$parent.removeChartByIndex($index)" title="Delete" class="delete-chart"></a>
            </div>
            <div class="content" ng-include src="chartTemplateFor(chart)"></div>
          </div>
          <div ng-show="editingChart">
            <form ng-submit="saveChanges()">
              <div ng-include src="chartConfigTemplateFor(chart)"></div>
              <div style="margin-top:20px">
                <button class="btn btn-primary" ng-click="saveChanges()">Done</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="add-new-visualization">
          <a href="javascript:void(0);" ng-click="addNewChartIsCollapsed = !addNewChartIsCollapsed" class="add_new"></a>
          <div collapse="addNewChartIsCollapsed" class="chart_type">
              <div>
                <p>Select a chart type</p>
                <a href="javascript:void(0);" ng-click="addChart('Trendline')" ng-show="showChart('Trendline')">
                  <div class="chart_button trendline"></div>
                </a>
                <a href="javascript:void(0);" ng-click="addChart('PopulationPyramid')" ng-show="showChart('PopulationPyramid')">
                  <div class="chart_button population_pyramid"></div>
                </a>
                <a href="javascript:void(0);" ng-click="addChart('Map')" ng-show="showChart('Map')">
                  <div class="chart_button map"></div>
                </a>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Charts -->
</div>
