<!-- BEGIN: Filters templates -->
<script type="text/ng-template" id="DateFilterTemplate">
  <div ng-controller="DateFilterCtrl">
    <input type="text" size="10" ng-model="filter.since" />
    -
    <input type="text" size="10" ng-model="filter.until" />
  </div>
</script>
<!-- END: Filters templates -->

<div class="row">
  <!-- BEGIN: Filters panel -->
  <div id="filters" class="col-md-3" ng-controller="FiltersCtrl">
    <div class="well white out condensed">
      <div class="row">
        <div class="col-md-6">
          <strong style="font-size:16px">Filters</strong>
        </div>
        <div class="col-md-6">
          <a class="pull-right" href="#">
            Clear all
          </a>
        </div>
      </div>
      <hr/>
      <div>
        <strong>All cases</strong>
      </div>
      <div ng-repeat="filter in filters">
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <strong>{{ filter.description }}</strong>
          </div>
          <div class="col-md-6">
            <a class="pull-right" href="javascript:void(0)" ng-click="$parent.removeFilterByIndex($index)">remove</a>
          </div>
        </div>
        <div ng-include src="filterTemplateFor(filter)"></div>
      </div>
      <hr/>
      <div>
        <a href="javascript:void(0);" ng-click="addNewFilterIsCollapsed = !addNewFilterIsCollapsed">Add new filter</a>
        <div collapse="addNewFilterIsCollapsed">
          <ul>
            <li><a href="javascript:void(0);" ng-click="addDateFilter()">Date</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filters panel -->

  <!-- BEGIN: Playground -->
  <div class="col-md-9" ng-controller="HomePlaygroundCtrl">
    <div>
      <form ng-submit="doQuery()" name="queryForm" novalidate>
        <p>
          <textarea rows="5" cols="60" ng-model="query"></textarea>
        </p>
        <button type="submit">Query</button>
      </form>
    </div>

    <div ng-show="data.length > 0">
      <h2>Response</h2>

      <ul>
        <li ng-repeat="record in data">
          <span>{{ record }}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: Playground -->
</<div>
