<nd-reports-navbar></nd-reports-navbar>

<div class="row report" ng-show="currentReport">
  <div class="col-md-12">
    <h3>
      <a href="#" editable-text="currentReport.name">{{currentReport.name}}</a>
    </h3>
    <p>
      <a href="#" editable-textarea="currentReport.description" e-rows="4" e-cols="60">{{currentReport.description || 'No description'}}</a>
    </p>
  </div>
</div>

<div class="row">
  <!-- BEGIN: Filters panel -->
  <div id="filters" class="col-xs-12 col-sm-4 col-md-3" ng-controller="FiltersCtrl">
    <div class="filters-list">
      <div class="filters-header">
        <strong>Filters</strong>
        <a class="pull-right" href="javascript:void(0)" ng-click="clearFilters()" ng-show="currentReport.filters.length > 0">
          Clear all
        </a>
      </div>
      <div class="filter first">
        <div class="filter-title">
          <strong class="all">All cases</strong>
          <span ng-show="hasCount(-1)">{{counts[-1]}}</span>
          <span ng-hide="hasCount(-1)">(...)</span>
        </div>
      </div>
      <div class="filter" ng-repeat="filter in currentReport.filters" ng-class="{expanded: filter.expanded, last: isLastFilter($index)}">
        <div class="filter-title" ng-click="toggleFilter(filter)">
          <strong ng-class="filter.name">{{filter.label()}}</strong>
          <span ng-show="hasCount($index)">{{counts[$index]}}</span>
          <span ng-hide="hasCount($index)">(...)</span>
          <a class="close" href="javascript:void(0)" ng-click="$parent.removeFilterByIndex($index)" title="remove">x</a>
        </div>
        <div collapse="!filter.expanded">
            <div ng-include src="filterTemplateFor(filter)"></div>
        </div>
      </div>
      <hr/>
      <div class="add-new-filter">
        <a href="javascript:void(0);" ng-click="addNewFilterIsCollapsed = !addNewFilterIsCollapsed"><span>+</span> Add new filter</a>
        <div collapse="addNewFilterIsCollapsed">
          <a ng-class="field.name" title="{{field.label}}" ng-repeat="field in fields" href="javascript:void(0);" ng-click="addFilter(field.name)">{{field.label}}</a>
        </div>
      </div>
    </div>
    <a href="javascript:void(0);" ng-click="duplicateReport()">Duplicate this report</a>
    <br/>
    <a href="javascript:void(0);" ng-click="deleteReport()">Delete this report</a>
  </div>
  <!-- END: Filters panel -->


  <!-- BEGIN: Charts -->
  <div class="col-xs-12 col-sm-8 col-md-9" ng-controller="ChartsCtrl">
    <div class="row">
      <div class="col-md-6" ng-repeat="chart in currentReport.charts">
        <div class='nd-trendline well' ng-controller="ChartCtrl" ng-init="chart=chart;report=currentReport">
          <div ng-hide="editingChart">
            <div class="actions">
              <span ng-show="chart.isConfigurable()">
                <a href="javascript:void(0)" ng-click="edit()" title="Edit"><img src="images/ic-edit.png"></a>
              </span>
              <a href="javascript:void(0)" ng-csv="getCSV()" filename="{{getCSVFilename()}}" title="Download CSV"><img src="images/ic-download.png"></a>
              <span ng-show="loadingChart">...</span>
              <a href="javascript:void(0)" ng-click="$parent.removeChartByIndex($index)" title="Delete"><img src="images/ic-delete.png"></a>
            </div>
            <div ng-include src="chartTemplateFor(chart)"></div>
          </div>
          <div ng-show="editingChart">
            <form ng-submit="saveChanges()">
              <div ng-include src="chartConfigTemplateFor(chart)"></div>
              <div style="margin-top:20px">
                <button class="btn btn-primary" ng-click="saveChanges()">Done</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="add-new-visualization">
          <a href="javascript:void(0);" ng-click="addNewChartIsCollapsed = !addNewChartIsCollapsed" class="add_new"></a>
          <div collapse="addNewChartIsCollapsed" class="chart_type">
              <div>
                <p>Select a chart type</p>
                <a href="javascript:void(0);" ng-click="addChart('Trendline')"><img src="images/ic-trendline.png"></a>
                <a href="javascript:void(0);" ng-click="addChart('PopulationPyramid')"><img src="images/ic-pyramid.png"></a>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Charts -->
</div>
